- @page_title = @banner.name + ' ' + t('banner') + ' - ' + default_page_title

- render_region :main do |main|
  - main.edit_header do
    %h1= t('edit_banner')
  - main.edit_form do
    = render :partial => 'form'
    = render :partial => 'modify_banner'
